<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GraphicalUserInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GraphicalUserInterface.Properties.Settings>
            <setting name="AcUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="AcPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="StaffUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="StaffPassword" serializeAs="String">
                <value />
            </setting>
        </GraphicalUserInterface.Properties.Settings>
    </userSettings>
	<appSettings>
		<!--The license context used-->
		<add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
	</appSettings>
</configuration>